/* Basic Glassmorphism Style */
.glass {
  background: rgba(
    255,
    255,
    255,
    0.1
  ) !important; /* Semi-transparent white background */
  border-radius: 10px !important; /* Rounded corners */
  padding: 20px !important; /* Padding around content */
  backdrop-filter: blur(
    10px
  ) !important; /* Applies the blur effect to the background */
  -webkit-backdrop-filter: blur(
    10px
  ) !important; /* Ensures compatibility with Safari */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important; /* Light border for contrast */
}

/* Optional: Styling for the content within the glassmorphism element */
.glass h1,
.glass p {
  color: rgb(
    0,
    0,
    0
  ); /* White text to stand out against the semi-transparent background */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Adds a bit of glow around text */
}
